### PCEP Training questions

<p style="text-align:center;">
<img src="https://github.com/digital-futures-academy/DataScienceMasterResources/blob/main/Resources/datascience-notebook-header.png?raw=true"
     alt="DigitalFuturesLogo"
     style="float: center; margin-right: 10px;" />
</p>

[Syllabus](https://pythoninstitute.org/assets/627e61bc29de3989767095.pdf)

_Ex1_ Calculate the value of 'x' in the Python expression x = 19 % 4 + 15 / 2 * 3

A. 5

B. 26

C. None of the above

D. 25.5

E. 4.8

<details> <summary> Click here for solutions (Ex1) </summary>
    
Correct answer: D
    
* A,B,C,E are wrong - we follow the order of operations:
    
    1. **
    
    2. unary (+, -, ~)
    
    3. *, /, //, %
    
    4. +, -
    
    5. <<, >>
    
    6. &
    
    7. ^
    
    8. |
    
    9. ==, !=, +=, -=, &=, ...
    
    10. not
    
    11. and
    
    12. or
    
* D is correct: 15/2 * 3 is 7.5 * 3 = 22.5 ; 19%4 = 3 :: Final answer: 3 + 22.5 = 25.5
</details>

Ex2. What is the output of the following code:

list('subway')[3]

A. b

B. w

C. 3

D. 2

E. Error

<details> <summary> Click here for solutions (Ex2) </summary>
    
Correct answer: B
    
* A is wrong: b is the 3rd character, but Python is 0-indexed, meaning we are looking for 0,1,2,3 -- the 4th character, which is 'w'
    
* B is correct: list() makes the string into a list where each element is exactly 1 character: `['s', 'u', 'b', 'w', 'a', 'y']` and its 4th element is indeed 'w'
    
* C, D are wrong - we're not looking for indices
    
* E is wrong, the code is fine
</details>

Ex3. Consider the code below:
```
for i in range(10):
    if i%3==0:
        print(i, end=" ")
    elif i%3==1:
        print("X", end=" ")
    else:
    ### code here
```
What would you need to replace the code with to return the following output:
`0 X 3 X 6 X 9`

A. pass

B. break

C. print("", end="")

D. terminate

E. continue

<details> <summary> Click here for solutions (Ex3) </summary>
    
Correct answers: A, C, E
    
* A is correct: If the code does nothing when i%3==2 then we get the desired output. Therefore, `pass` does the job
    
* B is wrong: The code will break when we hit i=2, giving only the output `0 X`
    
* C is correct: In this situation, we could just print nothing and replicate the same output
    
* D is wrong: terminate is not a keyword in Python
    
* E is correct: In this case jumping to the next iteration in the final branch produces the same result as passing
    
</details>

Ex4. What is the output of the following code: [**Medium**]

`print(len("\\\\"), "".join(sorted("Y09y")), '3738'[::-1], sep="--")`

A. 4--09Yy--8373

B. 2--09yY--8373

C. 2--Yy09--8373

D. 4--yY09--7383

E. 2--09Yy--8373

F. 2-0Yy9-8373

<details> <summary> Click here for solutions (Ex4) </summary>
    
Correct answer: E
    
* A,B,C,D,F are wrong as they all get at least one component wrong. There are 4 components to this question. We'll start with the easiest one:
    
    - The separator: This is set to '--', so F is automatically wrong since all outputs should be separated by double, not single dash
    - `len('\\\\')`: Since `\` is the escape character, we escape the first escape. Same story for escapes #3 and #4 -- meaning we print out '\\', so the length is 2. 
    - `"".join(sorted("Y09y"))` sorts the string as a list, then joins it back together. The rule to remember here is that in ASCII encoding (codepoint) digits are before capitals, which are before lowercase. Therefore, the correct ordering is `09Yy`
    - Lastly, `'3738'[::-1]` is just the reverse of the string, which is '8373'.
    
* E is the correct answer which combines all 4 criteria above
</details>

Ex5. Consider the following list:

`my_lst = ['A', 'C', 'Y']`

We want to update the list with the element 'X' in between 'A' and 'C', without changing the order of elements. How can we achieve this?

A. my_lst.insert('X', 1)

B. my_lst.insert(1, 'X')

C. my_lst.append('X')[::-1]

D. my_lst.update('X', 1)

E. my_lst.insert(0, 'X')

<details> <summary> Click here for solutions (Ex5) </summary> 
    
Correct answer: B
    
* A is wrong: It's correct syntax, but the first parameter is the position (integer), and the second the element.
    
* B is correct
    
* C is wrong, that would result in appending 'X' at the end of the list and then reversing it, i.e. `['X', 'Y', 'C', 'A']`, which does not meet the conditions of our query
    
* D is wrong, lists have no method update()
    
* E is wrong - that would insert 'X' as the first element, just before 'A'
    
</details>

Ex6. What is the result of 2 ** 3 ** 2 - 15//7?

A. 62

B. 63

C. 510

D. Syntax error

E. 1

<details> <summary> Click here for solutions (Ex6) </summary>
    
Correct answer: C
    
* A is wrong: All operators in Python follow the left to right rule with themselves (eg: 5 + 7 + 3 will first compute 5+7, then the sum + 3) - all EXCEPT exponentiation. Therefore, 2**3**2 != (2**3)**2 which is 64; instead 2**3**2 == 2**(3**2) == 2**9 == 512. 
    
* B is wrong, same as above
    
* C is correct. Following from option A, we get 512 - 15//7 and 15//7 is 2: so 512 - 2 = 510.
    
* D is wrong, since the code runs
    
* E is just wrong
    
</details>

Ex7. Consider the following code: [**Medium**]

```
List=[]
for v in ['a', 'c', 'b', 'd']:
    for i in range(0,5,2):
        if ord(v)%2==0:
            List.append(v+"-"+str(i))
        else:
            continue
```
Which of the following are true?:

A. 'b-4' in List and 'c-3' in List

B. 'a-1' in List and 'a-3' in List

C. 'a-4' in List xor 'c-4' in List

D. ('b-0' in List and 'd-1' in List) or ('b-1' in List and 'd-0' in List)

E. None of the above

<details> <summary> Click here for solutions (Ex7) </summary>
    
Correct answer: E
    
* A is wrong because b and c cannot possibly be in the list together, since if one of them has odd codepoint order, the other has even codepoint order and vice-versa. Therefore, only [a,c] or [b,d] can be together.
    
* B is wrong because we iterate at a step of two starting from 0: Meaning we get 0,2 and 4
    
* C is wrong for two reasons, one you are expected to know another that you're not. The one you're expected to deduce is that if one of them is in the list (i.e. has even order), then so is the other since its order is +/- 2 of the other -- so the exclusivity does not apply. Moreover, what you may not know and are not expected to, is that `ord(a) == 97` which is odd.
    
* D is wrong as 1's are not in the List, as discussed in option B.
    
* E is correct, since all other options are wrong.
    
</details>

Ex8. What's the output of the following code: (ignoring the class) 

`print(type([5]), type((5)), type({5}), sep=" ,")`

A. list, int, dict

B. list, tuple, set

C. list, tuple, dict

D. tuple, tuple, set

E. list, int, set

<details> <summary> Click here for solutions (Ex8) </summary>
    
Correct answer: E
    
* A is wrong, since `{5}` is not a dictionary, but a set. A dictionary expects two elements, a key and a value pair. With just one value, that is in fact a set.
    
* B is wrong, because `(5)` is not a tuple. On its own, without a comma following it, Python automatically reduces it to an integer. 
    
* C is wrong for the reasons of A and B combined.
    
* D is wrong, since the first entry is evidently a list
    
* E is correct
    
</details>

Ex9. 0o142 > 0X142

A. True

B. False

C. SyntaxError

D. TypeError

E. ValueError

<details> <summary> Click here for solutions (Ex9) </summary>
    
Correct answer: B
    
* A is wrong. You don't even need to compute the transformation of 142 in octals and hexadecimals respectively - Clearly, since it's the same number, the hexadecimals will be larger than the octals.
    
* B is correct - for the same reason A is wrong
    
* C,D and E are wrong - since there is nothing wrong with the error
    
</details>

Ex10. Consider the following comprehension: [**Hard**]

```dic = {'apple':0, 'chocolate':1} ```

```dic2 = {number:{key:value for value, key in dic.items()} for number in [0,1,2]}```

What will the code `set(list(dic2.values()))` output:

A. {0,1,2}

B. {'apple':0, 'chocolate':1}

C. TypeError

D. {0:'apple', 'chocolate':1}

E. {[0:'apple', 'chocolate':1], [0:'apple', 'chocolate':1], [0:'apple', 'chocolate':1]}

<details> <summary> Click here for solutions (Ex10) </summary>
    
Correct answer: C
    
* A,B,D and E are wrong - since the code will error. The reason is that the code is 2 dictionary comprehensions within each other. The first one simply swaps the key and value pair from the original dictionary, generating `{0:'apple', 1:'chocolate'}`. We then use the dictionary as a repeated value, for the keys [0,1,2]. So the resulting dictionary at the end is 3 items: keys being [0,1,2] and the same value. When we try to make it into a set, you might expect the result to be option D - but dictionaries cannot be made unique using sets, throwing a TypeError.
    
</details>

Ex11. Consider the code below:
```
gen = (x for x in range(6))
gen.__next__()
gen.__next__()
lst = [gen.__next__() for i in range(3)]

print(lst)
```
What does it output:

A. [2,3,4]

B. [0,1,2]

C. [0,1,2,3]

D. [3,4,5]

E. [1,2,3]

<details> <summary> Click here for solutions (Ex11) </summary>
Correct answer: A
    
* B,C,D and E are wrong - we have to follow the code. gen is a generator containing the range(6), which are elements 0,1,2,3,4,5. For generators, once an element is called, it gets erased (or rather emptied) - think of them like containers. So when we first run `gen.__next__()` calling the next element, we pop out 0 (the first element in the list). We call it again, popping the next element, i.e. 1. Currently, our generator is now (2,3,4,5). The `lst` we create will pop out 3 consecutive iterations from our generator, meaning [2,3,4] - which is the correct answer.
    
* A is correct as described above
</details>

Ex12. Which of the following keywords is NOT part of an exception handling branch?

A. else

B. try

C. if

D. finally

E. except

<details> <summary> Click here for solutions (Ex12) </summary>
    
Correct answer: C
    
* A,B,D and E are wrong because they're all part (or potentially part) of an exception branch. B and E are crucial, whereas B and D are optional and come after.
    
* C is correct - if statements cannot be used in an exception branch
    
</details>

Ex13. What's the output of the following code:
```
a = 5
b = a
c = b
del a
del c
c= 3
c = b
print(c)
```
A. 5

B. 3

C. NameError

D. 'b'

E. ValueError

<details> <summary> Click here for solutions (Ex13) </summary>
    
Correct answer: A
    
* A is correct: a takes value 5, b takes a's value which is 5, and c takes b's value which is 5. We then delete the variables a and c. This obviously does not change b's value nor deletes it. We then create a new variable c which is set to 3, and then set its value again to take b's value which is 5. So c's final value is 5.
    
* B,C,D and E are wrong based on the above
    
</details>

Ex14. What will the following exception handling branch output? (ignoring newlines) [**Medium**]
```
try:
    for i in range(3):
        print(1/(i-2))
except NameError:
    print("X")
except ArithmeticError:
    print("Y")
except ZeroDivisionError:
    print("Z")
else:
    print("?")
finally:
    print("Fin!")
```
A. -0.5, -1.0, X, Fin!

B. Y, Fin!

C. Z, Fin!

D. -0.5, -1.0, Y, ?, Fin!

E. Y, Z, Fin!

F. -0.5, -1.0, Y, Fin!

<details> <summary> Click here for solutions (Ex14) </summary>
    
Correct answer: F
    
* A,B,C,D and E are wrong: When we hit i=2 in the iteration, we get a zerodivision error. We still print the first two values, which are -.5 and -1 respectively. It is not under the `NameError` branch, meaning we go to the next exception. The `ZeroDivisionError` sits under the `ArithmeticError` class, meaning that the exception branch will trigger - printing 'Y'. Lastly, the finally statement will always trigger regardless of everything above it, printing 'Fin!'.
    
* F is correct based on the above
</details>

Ex15. Take the following function:
```
def my_operation(x,y,z):
    return (x**y-z + y**z-x + z**y-x)/(2*x*y + 2*y*z+2*z*x)
```
What is the result of `my_operation(x=1,2,2)`:

A. 0.3125

B. 0.355

C. ZeroDivisionError

D. 1.5

E. SyntaxError

<details> <summary> Click here for solutions (Ex15) </summary>
  
Correct answer: E
    
* A,B, C and D are wrong because we cannot specify keyword arguments before positional arguments
    
* E is correct - the error falls under a simple `SyntaxError`
</details>

Ex16. What is the output of this code? [**Hard**]
```
x=17
v = 6
while x>0:
    x = x>>1
    x+=v
    v//=2
    print("X",end="")
```
A. XXXXX

B. XXXX

C. XXXXXX

D. XXXXXXXX

E. XXX

<details> <summary> Click here for solutions (Ex16) </summary>
    
Correct answer: C
    
* A,B,D and E are wrong - we need to follow the problem. We start with `x=17` and `v=6`, and start moving x bitwise one to the right. x in bitwise initially is 10001; moving it one to the left means we get 1000 which in integers is 8. We then add 6 to it, making it 8+6 = 14, and print one 'X'. This process repeats, but will finish, since v also gets downgraded to 3. The following iterations occur:
    - START: x=17 || v = 6 || (0 X)
    - IT1: x=14 || v = 3 || (1 X)
    - IT2: x=10 || v = 1 || (2 X)
    - IT3: x=6 || v = 0 || (3 X)
    - IT4: x=2 || v=0 || (4 X)
    - IT5: x=1 || v = 0 || (5 X)
    - IT6: x=0 || v = 0 || (6 X) ---- which is when the iteration stops
    
* C is correct: by the iterations above, we get 6 X's printed out.
</details>